.carousel-inner .carousel-item {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
  }
  .carousel-inner .carousel-item:first-of-type {
    position: relative;
  }
  .carousel-inner .active {
    opacity: 1;
  }

.carousel {
    top: 90px;
    width: 100%;
}

.carousel-image {
    filter: brightness(38%);
    width: 100%;
}

.header-txt {
    position: relative;
    font-size: 80px;
    text-align: center;
    color: white;
    bottom: -120px;
    z-index: 2;
    font-weight: 600;
}

.txt-div {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    margin-top: -550px;
}

.sub-header {
    position: relative;
    font-size: 30px;
    color: white;
    bottom: -100px;
    text-align: center;
    z-index: 2;
}

.header-buttons {
    display: flex;
    position: relative;
    bottom: -80px;
    justify-content: center;
    z-index: 2;
}

#buttonid {
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    font-size: 23px;
}

.whole-caro {
    background-color: rgba(1,1,1,255);
    overflow: hidden;
    height: 116vh;
    margin-top: -100px;
}

.header-container {
    position: relative;
    background: url(masonry12.JPG) center center/cover no-repeat transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 115vh;
    top: -5px;
}

.header-wordz {
    display: flex;
    flex-direction: row;
}

.quote-div {
    margin-top: -270px;
}

@media screen and (max-width: 1440px) {
    .sub-header {
        width: 1000px;
        margin: 0 auto;
        line-height: 50px;
        padding-bottom: 60px;
        margin-top: 20px;
        font-size: 35px;
    }

    .header-txt {
        font-size: 100px;
        padding-bottom: 50px;
        margin-top: -50px;
    }
}

@media screen and (height: 1024px) {
    .header-container {
        background-size: 100vh;
    }
}

@media screen and (max-width: 940px) {
    .whole-caro {
        visibility: hidden;
        width: 100%;
    }

    .header-container {
        background-size: cover;
    }

    .sub-header {
        width: 700px;
        margin: 0 auto;
        line-height: 50px;
        padding-bottom: 60px;
        margin-top: 20px;
    }

    .header-txt {
        font-size: 80px;
    }
}

@media screen and (max-width: 670px) {
    .sub-header {
        width: 600px;
        margin: 0 auto;
        line-height: 60px;
        padding-bottom: 60px;
        /* margin-top: 20px; */
    }

    .header-txt {
        font-size: 65px;
    }
}

@media screen and (max-width: 528px) {
    .sub-header {
        width: 500px;
        margin: 0 auto;
        line-height: 60px;
        padding-bottom: 60px;
        font-size: 25px;
    }

    .header-txt {
        font-size: 55px;
    }
    
    .btn {
        font-size: 20px;
    }

    .header-container {
        background-size: 115vh;
    }
}

@media screen and (max-width: 414px) {
    .sub-header {
        width: 350px;
        margin: 0 auto;
        line-height: 60px;
        padding-bottom: 60px;
        font-size: 23px;
    }

    .header-txt {
        font-size: 40px;
        line-height: 70px;
        margin-top: 0px;
        padding-bottom: 30px;
    }

    .header-container {
        width: 100%;
        top: -15px;
    }
}

@media screen and (max-width: 375px) {
    .sub-header {
        width: 360px;
        margin: 0 auto;
        line-height: 60px;
        padding-bottom: 60px;
        font-size: 23px;
    }

    .header-txt {
        font-size: 42px;
        line-height: 70px;
        margin-top: 0px;
        padding-bottom: 30px;
    }

    .header-container {
        top: -26px;
    }

    #onehead {
        margin-top: -60px;
    }
}

@media screen and (max-width: 360px) {
    .sub-header {
        width: 360px;
        margin: 0 auto;
        line-height: 60px;
        padding-bottom: 60px;
        font-size: 23px;
    }

    .header-txt {
        font-size: 42px;
        line-height: 70px;
        margin-top: 0px;
        padding-bottom: 30px;
    }

    .header-container {
        top: 0px;
    }
}

@media screen and (max-width: 360px) {
    .sub-header {
        width: 300px;
        margin: 0 auto;
        line-height: 60px;
        padding-bottom: 60px;
        font-size: 23px;
    }

    .header-txt {
        font-size: 37px;
        line-height: 70px;
        margin-top: 0px;
        padding-bottom: 30px;
    }

    #onehead {
        margin-top: 100px;
    }

    .header-container {
        top: 10px;
    }
}

@media screen and (max-height: 685px) {
    .header-txt {
        margin-top: -10px;
    }
}

@media screen and (max-height: 789px) {
    .header-txt {
        margin-top: -10px;
        line-height: 60px;
    }
    .txt-div {
        margin-top: -700px;
    }
}
